### 测试结果

共测试了 {{ruyi_testsuites}} 个测试套， {{ruyi_testcases}} 个测试用例，其中

+ {{ruyi_success}} 个测试用例成功
+ {{ruyi_failed}} 个测试用例失败
+ {{ruyi_timeout}} 个测试用例超时

